body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
@font-face {
  font-family: 'Proximanova-bold';
  src: url(../fonts/proximanova-bold.woff2)format("woff2")
}
@font-face {
  font-family: 'Proximanova-regular';
  src: url(../fonts/proximanova-regular.woff2)format("woff2")
}
@font-face {
  font-family: 'Proximanova-semibold';
  src: url(../fonts/proximanova-semibold.woff2)format("woff2")
}
@font-face {
  font-family: 'Umnik';
  src: url(../fonts/umnik-bold.woff2)format("woff2")
}
